
.homeContainer {
	height: 100vh;
	font-size: calc(10px + 2vmin);
	color: black;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

.homeHeading{
	grid-row: 2/3;
	grid-column: 3/7;
}

.centerImage{
	grid-row: 3/6;
	grid-column: 3/7;
}

.centerButton{
	grid-row: 6/7;
	grid-column: 3/7;
}